#.vim/bundle/*
.vim/bundle
.emacs.d/undohist/*
.emacs.d/ac-comphist.dat
.emacs.d/backups
.emacs.d/auto-save-list
.emacs.d/url
.emacs.d/auto-save-list
.emacs.d/undohist
emacs23/.emacs.d/ac-comphist.dat
emacs23/.emacs.d/undohist/
emacs23/.emacs.d/url/

.vagrant
